* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "AlbertusNova";
  src: url("../assets/fonts/albertusnova.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: #222;
}
.phone {
  border-radius: 50px;
  border: 7px solid black;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: fixed;
  color: #fff;
  width: 360px;
  height: 700px;
}
.screen {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.notch {
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 135px;
  height: 30px;
  background: black;
  border-radius: 15px;
}
.swipe {
  width: 120px;
  height: 6px;
  background: #89898981;
  position: absolute;
  bottom: 7px;
  border-radius: 5px;
  right: 50%;
  transform: translateX(50%);
}
.first {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  background: url("../assets/v.png") top/cover no-repeat;
}
.container {
  width: 100%;
  display: flex;
  height: 32%;
  align-items: center;
  padding: 0 20px;
  position: relative;
  justify-content: space-between;
}
.day {
  width: 45%;
}
.vam {
  width: 40%;
  height: 55%;
}
.text {
  font-size: 20px;
  width: 70%;
  text-transform: uppercase;
  text-align: center;
  font-family: "AlbertusNova";
}
.names {
  position: absolute;
  font-size: 6px;
  left: 19.5%;
  font-family: "AlbertusNova";
}
.names2 {
  position: absolute;
  font-family: "AlbertusNova";
  font-size: 6px;
  right: 22%;
}

.cont-persons {
  width: 100%;
  height: 35.3%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to top, #000000 30%, #feb47b00);
}
.person {
  width: 33%;
  position: absolute;
  height: 100%;
  z-index: 3;
}
.d {
  width: 90%;
  height: 120%;
  position: absolute;
  top: -100px;
}
.logo {
  width: 100%;
  position: absolute;
  bottom: 20%;
  height: 54%;
}
.tune {
  width: 40%;
  position: absolute;
  bottom: 0%;
  height: 20%;
}

.liza {
  width: 20%;
  height: 100%;
  position: absolute;
  left: 25px;
  bottom: 30%;
}
.mula {
  width: 20%;
  height: 100%;
  position: absolute;
  left: 28%;
  bottom: 40%;
}
.endi {
  width: 20%;
  height: 100%;
  position: absolute;
  left: 47%;
  bottom: 29%;
}
.mark {
  width: 22%;
  height: 100%;
  position: absolute;
  left: 72%;
  bottom: 29%;
}
.game-start {
  width: 100%;
  height: 100%;
  position: relative;
}
.l2 {
  background: url("../assets/1-first/bg1.png") top/cover no-repeat;
}
.l3 {
  background: url("../assets/1-first/bg2.png") top/cover no-repeat;
}
.person-cont {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0%;
  display: flex;
  font-family: "AlbertusNova";
  text-transform: uppercase;
  line-height: 1;
  padding: 0 10px;
}
.person1 {
  width: 50%;
  text-transform: uppercase;
  display: flex;
  color: orange;
}
.text-pr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.cont-pr {
  width: 50%;
}
.player {
  position: absolute;
  left: 50px;
  top: -5px;
  width: 30%;
}
.person2 {
  width: 50%;
  display: flex;
  color: #2b00ec;
}

.bot {
  position: absolute;
  right: 45px;
  top: -5px;
  width: 30%;
}

.w {
  font-size: 9px;
}
.score {
  margin-top: 6px;
  font-size: 34px;
  font-weight: 900;
}
.timer-cont {
  text-align: center;
  font-size: 19px;
}
.q {
  font-size: 21px;
}
.platform {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.5 ease-in;
}
.daywalker {
  width: 100px;
  height: 100px;
  position: relative;
  left: 0;
  top: 40%;
  background: url("../assets/icon.png") top/cover no-repeat;
}

.vampire {
  width: 100px;
  height: 100px;
  position: relative;
  right: 0;
  top: 40%;
  background: url("../assets/vapIcon.png") top/cover no-repeat;
}
.daywalker,
.vampire {
  transition: all 0.3s ease;
  z-index: 12;
  pointer-events: none;
}
.point {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.point > img {
  width: 50%;
  height: 50%;
}
.end-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("../assets/1-first/7.png") center/cover no-repeat;
}

.play-now,
.slka {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #9088b4;
  font-family: "AlbertusNova";
  position: relative;
  &:active {
    transform: translateY(1px);
  }
  & > img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
  }
  & > span {
    position: relative;
    z-index: 0;
  }
}
.f {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;

  & > .s {
    font-size: 70px;
  }
}
.e {
  display: flex;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  text-align: end;
  flex-direction: column;
  & .e > span {
    font-size: 40px;
    color: #6a46fb;
  }
}
.for-score {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: "AlbertusNova";
  justify-content: center;
}
.buttons {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}


.hidden {
  display: none;
}
