@media (max-width: 400px) {
  body {
    align-items: flex-start;
  }
  .phone {
    width: 100%;
    border: none;
    height: 100%;
    border-radius: 0;
  }
  .screen {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  .notch {
    display: none;
  }
  .swipe {
    display: none;
  }
  .text {
    font-size: 18px;
  }
  .cont-persons {
    height: 100%;
    background: linear-gradient(to top, #000000 70%, #feb47b00);
  }
  .d {
    width: 90%;
    height: 80%;
    top: -70px;
  }
  .logo {
    width: 80%;
    height: 30%;
  }
  .tune {
    height: 15%;
  }
  .vam {
    height: 73%;
  }
}
@media (max-height: 400px) {
  .phone {
    width: 800px;
    border: none;
    height: 100%;
    border-radius: 0;
  }
  .screen {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  .notch {
    display: none;
  }
  .swipe {
    display: none;
  }
  .first {
    width: 100%;
    padding-top: 10px;
    background: url("../assets/1-first/4.png") top/cover no-repeat;
  }
  .text {
    font-size: 12px;
    width: 100%;
  }
  .cont-persons {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000 40%, #feb47b00);
  }
  .d {
    width: 35%;
    height: 133%;
    top: -105px;
  }
  .logo {
    width: 30%;
  }
  .names {
    left: 23.5%;
  }
  .names2 {
    right: 27.7%;
  }
  .tune {
    width: 20%;
  }
  .container {
    height: 50%;
    justify-content: space-around;
  }
  .day {
    width: 25%;
  }
  .vam {
    width: 25%;
    height: 75%;
  }
  .person-cont {
    width: 100%;
    top: 0;
    padding: 0;
    padding-top: 10px;

    height: 100%;
    overflow: hidden;
  }
  .l2,
  .l3 {
    background: url("../assets/1-first/zomb_BG_H1.png") top/cover no-repeat;
  }
  .person1 {
    width: 25%;
    color: #765a26;
  }
  .player {
    width: 12%;
    clip-path: polygon(0 -9%, 216% -7%, 14% 53%);
    left: 50px;
    top: 5px;
  }
  .text-pr {
    width: 45%;
  }
  .person2 {
    width: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .timer-cont {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
  }
  .v {
    margin-left: 25px;
    width: 40%;
    color: rgb(0, 217, 255);
  }
  .daywalker {
    left: 50px;
  }
  .vampire {
    left: 80%;
  }
  .bot {
    width: 50%;
    top: -98px;
    clip-path: polygon(0 -9%, 208% -7%, 22% 53%);
  }
  .end-card {
    background: url("../assets/1-first/7v.png") top/cover no-repeat;
    align-items: flex-end;
    justify-content: space-around;
  }
  .buttons {
    width: 50%;
  }
  .for-score {
    width: 50%;
  }
  .hidden {
    display: none;
  }
}
